<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Component Id="cmpF82FCA80BBAF44D285C97F10993DEEE6" Guid="{301596A0-19B9-4BDB-B694-0DCE6FC05435}">
                <File Id="fil840B80AC19861C7F9F04FBDCFAE331CE" KeyPath="yes" Source="$(var.BasePath)\appsettings.json" />
            </Component>
            <Component Id="cmp89CC938684E52AF53D9AE8406B829BE0" Guid="{114B72FE-A3FB-4179-8F25-5F5E8703A39D}">
                <File Id="filAA998C37505668CBC561D012B4FB086A" KeyPath="yes" Source="$(var.BasePath)\BatchImportIncidents.exe" />
            </Component>
            <Component Id="cmpFB34A1341422A784C39D30B8DBC119DC" Guid="{146AE00A-AF8F-42B3-9756-E3E07FBB2AED}">
                <File Id="fil4716721E2F0D854858347F3CEDBBF48D" KeyPath="yes" Source="$(var.BasePath)\BatchImportIncidents.exe.config" />
            </Component>
            <Component Id="cmpE7A5052687EDB6EAC55CC9AFD789B705" Guid="{D0EA9B1E-884B-4780-8CC2-28F4AA0C5FE1}">
                <File Id="fil091F1A56E6716EC5FFD2F4B5BCD1A6E2" KeyPath="yes" Source="$(var.BasePath)\BatchImportIncidents.pdb" />
            </Component>
            <Component Id="cmpA446AF8E47E174A459DCB8F054E69924" Guid="{8ADF58EC-EEA3-432B-9D9B-1B10DB8D462E}">
                <File Id="fil79D4CA6BFB2C2DEF868B84C5B08409F3" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Crm.Sdk.Proxy.dll" />
            </Component>
            <Component Id="cmpDC19BA21EFF423B27F8787A2AB8F2B3C" Guid="{9402AA3B-412F-4D34-80D3-6BC1DE05ECA3}">
                <File Id="filF6767F9D22B6D46DD3A2FC798B5F23DE" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Configuration.Abstractions.dll" />
            </Component>
            <Component Id="cmpC2B3CC4C105FBF588A9EBBD45742C349" Guid="{5FB74BC9-05EB-46A4-ADE0-EBB5A233FE23}">
                <File Id="filE9F345539532616C2BEF86BE1CEB83E2" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Configuration.dll" />
            </Component>
            <Component Id="cmp0F72FDFC2B5DABBEED0952957424C516" Guid="{C1BD9CC0-E3DE-4277-9AB6-EEC2A03EAE76}">
                <File Id="fil732B9D1BB8B2BA629B3802CB721B7E55" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Configuration.FileExtensions.dll" />
            </Component>
            <Component Id="cmp191446DEBB621CC91C2B2E713F085F01" Guid="{B5881B7F-805A-4E6B-88B5-4A05C1D600EA}">
                <File Id="fil0CC9532B169036B73874B81A5F9C8F97" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Configuration.Json.dll" />
            </Component>
            <Component Id="cmp0209E8308C907CAD5474151F7C6836F5" Guid="{0A9FCB63-0E58-4859-8FAB-9755F457E195}">
                <File Id="fil1036FDFADEB4E1F1FB133485A70A0DD4" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.FileProviders.Abstractions.dll" />
            </Component>
            <Component Id="cmp6361EE614B62630DD923390326EAF03C" Guid="{774EF614-5354-4038-9190-947A371F2C3D}">
                <File Id="fil1B3C0C67DC448F84DA45630529031E78" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.FileProviders.Physical.dll" />
            </Component>
            <Component Id="cmp1E5A63B6F657DD090469973A1C3D2C59" Guid="{57BE9C1F-BC6F-48B3-91C0-82AD5A7509FE}">
                <File Id="fil931DDF3633F4CABF1422600B672C70DE" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.FileSystemGlobbing.dll" />
            </Component>
            <Component Id="cmp946145B53A7DCDFA822B0EFD2314FAB6" Guid="{FD35D4D2-981D-4AE6-88B5-8396C013E2B5}">
                <File Id="fil773F29942324AAB2A7E1977E1AC63609" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Primitives.dll" />
            </Component>
            <Component Id="cmp8D70D98B32C8F908DD58C5F06708F289" Guid="{1D5B61A1-0FCE-4D43-9F2B-373E0CC94DBF}">
                <File Id="fil65C3764DFEF4B816AA91E646D63059C1" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Threading.Tasks.dll" />
            </Component>
            <Component Id="cmp1DFBDA5C3F28C07C3DEBDDBAE7F78802" Guid="{037A0256-292F-47AD-84DF-16D579ED3286}">
                <File Id="fil88E67E79EF1C4E174E3CA55C79D438EF" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Threading.Tasks.Extensions.Desktop.dll" />
            </Component>
            <Component Id="cmp2BD2CA101B27AF1371B06F4F15D95F9B" Guid="{703D42E1-D96F-40A4-9427-0F305CBD178A}">
                <File Id="fil477B767EE43BD465EE01C8F343860270" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Threading.Tasks.Extensions.dll" />
            </Component>
            <Component Id="cmpC089979D7EDD0520871FCF59E4512F6A" Guid="{7F17A681-48FC-4D43-94F7-63AD47612CD0}">
                <File Id="fil69885EF287CDAEE15C09BE435AEC1160" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Win32.Primitives.dll" />
            </Component>
            <Component Id="cmp67E65E2B67A367FACFDC13B3845494ED" Guid="{9AF577BE-4C7D-4C93-AD2D-CE9E2BDA5D5C}">
                <File Id="filB33A9006A4BD6B4E952B54B5229B172C" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Xrm.Sdk.dll" />
            </Component>
            <Component Id="cmp2D22C362F8F0B3B68D8A335DB9874738" Guid="{6287444D-9A19-41FC-953C-13C24D483F81}">
                <File Id="fil0C7258C62EED04D203F333E1383578C2" KeyPath="yes" Source="$(var.BasePath)\netstandard.dll" />
            </Component>
            <Component Id="cmpBC4FC00A26E7D32479D42D3411317FC5" Guid="{A7B09FC5-80C2-4AA2-8D2F-9EC2320E64E8}">
                <File Id="fil90A8AAD9FC612906D405476D61CEA3F4" KeyPath="yes" Source="$(var.BasePath)\Newtonsoft.Json.dll" />
            </Component>
            <Component Id="cmpFB3187AEB0ABE44A5275235FC44713AF" Guid="{9CFF615D-6DD2-4F4B-8F6B-AE2D252E027D}">
                <File Id="filD41DFC9E6644B2345E54C2167D8FEAEA" KeyPath="yes" Source="$(var.BasePath)\Nito.AsyncEx.Concurrent.dll" />
            </Component>
            <Component Id="cmpC7B18FE4579BA5B84EA0DA057622D478" Guid="{1BE09E7D-BFD7-486A-8B50-2DC2E17D8332}">
                <File Id="filC4C3CE93112A5A69B2BF571E224E4C61" KeyPath="yes" Source="$(var.BasePath)\Nito.AsyncEx.dll" />
            </Component>
            <Component Id="cmp8F0ABC6A41DD89D6ABA50495ACCF772B" Guid="{E373A7C5-7E5F-436E-86F0-C526F667FB48}">
                <File Id="fil584ACC6B2D9300E5138C0D80C1B82EBE" KeyPath="yes" Source="$(var.BasePath)\Nito.AsyncEx.Enlightenment.dll" />
            </Component>
            <Component Id="cmp5BF82A49794EF8CA80B3603A0E77FC35" Guid="{0AA290A5-516E-4368-907D-1648691C18A2}">
                <File Id="filAFD0CC30CB2E6DD52C314025EFBB3EF7" KeyPath="yes" Source="$(var.BasePath)\System.AppContext.dll" />
            </Component>
            <Component Id="cmp602E8F2B93FE6578A846F762EC68A1D9" Guid="{0B2B31E2-0EC5-4AC7-99D3-4CC3CDB4F670}">
                <File Id="fil8A8EC4001DD8F96250E301ED6A1E3783" KeyPath="yes" Source="$(var.BasePath)\System.Collections.Concurrent.dll" />
            </Component>
            <Component Id="cmp3DA1940FB9C385E5772FD6B27D952566" Guid="{5AEEEBE1-95A5-4B2E-8F3E-55C2C74317F9}">
                <File Id="fil61FB0EF6F8353D5D25E080C4B6E602C0" KeyPath="yes" Source="$(var.BasePath)\System.Collections.dll" />
            </Component>
            <Component Id="cmp1340CAF41213E899D78462CF580BF2AD" Guid="{242D3CD0-452A-4086-BF15-70D86CC3D0D7}">
                <File Id="filE68AB55348C2F39BA40CC24DA31D4211" KeyPath="yes" Source="$(var.BasePath)\System.Collections.NonGeneric.dll" />
            </Component>
            <Component Id="cmp4CA8A8377EC5F30AF1C8BF2ABE2B916B" Guid="{B7C63122-02A8-4774-A806-F3DDAA822502}">
                <File Id="filF574BF00EFD9442D9E5911559F8D7CB3" KeyPath="yes" Source="$(var.BasePath)\System.Collections.Specialized.dll" />
            </Component>
            <Component Id="cmp912EE5CA7F0C138422055A3D0C240C38" Guid="{02573AF8-6277-40B3-A390-9ECD0818A49F}">
                <File Id="fil8084AE81753074831DC96EB13423F40D" KeyPath="yes" Source="$(var.BasePath)\System.ComponentModel.dll" />
            </Component>
            <Component Id="cmp9DD02050EE6C7C34C1B0689DE491114C" Guid="{49899350-FDBC-49C1-8C25-99043785499E}">
                <File Id="fil1E5C558F899E13FD4A03E9ACF14B5065" KeyPath="yes" Source="$(var.BasePath)\System.ComponentModel.EventBasedAsync.dll" />
            </Component>
            <Component Id="cmp0E07B6458918A72AFC17E557DDF86BE9" Guid="{0E2B3F1E-645C-4811-ABC8-9D67E013B0CC}">
                <File Id="fil757C2B539CEF8E96C5DAF1634B560D0F" KeyPath="yes" Source="$(var.BasePath)\System.ComponentModel.Primitives.dll" />
            </Component>
            <Component Id="cmp9CD588F7BA24625E3D5679886E12AD98" Guid="{578474FE-1E84-423B-A60A-E1F3E60AFFF4}">
                <File Id="fil057857F4AB9C19007F7BB13F6DAB4F8E" KeyPath="yes" Source="$(var.BasePath)\System.ComponentModel.TypeConverter.dll" />
            </Component>
            <Component Id="cmp1A01EFD00F1DAF10CE06F8196357F24C" Guid="{B9865DA4-D719-4636-8DD7-1A14AA11632E}">
                <File Id="fil08A6ABF18A6A31D6C7924DD13873F17E" KeyPath="yes" Source="$(var.BasePath)\System.Console.dll" />
            </Component>
            <Component Id="cmp5C82A05FA23F935F2AF47CD1A8E11EF5" Guid="{09B8C01F-BEDD-44A0-8D14-BF0FCD516180}">
                <File Id="filE0AB56016BACB84E3B4D8920E3BC3B88" KeyPath="yes" Source="$(var.BasePath)\System.Data.Common.dll" />
            </Component>
            <Component Id="cmp18D7BFB3BE8790A76D7469ACDB6FF184" Guid="{BF808399-2876-4A7A-95E0-68B4DE8DE46B}">
                <File Id="filF5EC28734B29A9D0741ED65730786D83" KeyPath="yes" Source="$(var.BasePath)\System.Diagnostics.Contracts.dll" />
            </Component>
            <Component Id="cmp16EF400B22B4D8375CD56E7168F49BBB" Guid="{FA707300-ABA5-45B8-8CB1-BF1A5F34C4E3}">
                <File Id="filC5A135B91631EDD63E03635FE5DB1528" KeyPath="yes" Source="$(var.BasePath)\System.Diagnostics.Debug.dll" />
            </Component>
            <Component Id="cmp7E39F1A13DA5F3678F3102B85106204A" Guid="{B7A3EFD7-3DB5-4D3D-97B7-4F030433746E}">
                <File Id="filE669E7EEC097516D4E9BE57F87820A6F" KeyPath="yes" Source="$(var.BasePath)\System.Diagnostics.FileVersionInfo.dll" />
            </Component>
            <Component Id="cmpD23621427F9427EADECDFB75824E8F4E" Guid="{EBBCC741-3A82-4DC5-AE34-8EDE1DD1774B}">
                <File Id="filA2202346FF26F0ADE22443C43E9EA3EA" KeyPath="yes" Source="$(var.BasePath)\System.Diagnostics.Process.dll" />
            </Component>
            <Component Id="cmpB3E27F13800A8FF984F132723F98897C" Guid="{CBF33E0E-35C6-4023-ABE3-F57BDA712447}">
                <File Id="filDBF3A4F1AEA58FEDB0007DD546ADD630" KeyPath="yes" Source="$(var.BasePath)\System.Diagnostics.StackTrace.dll" />
            </Component>
            <Component Id="cmp36E12B3A84F72D19A05AB3898848297D" Guid="{F8206F15-A678-419E-8490-1B0320F50ACB}">
                <File Id="fil21EE5D64D21C91238861B7873377CB07" KeyPath="yes" Source="$(var.BasePath)\System.Diagnostics.TextWriterTraceListener.dll" />
            </Component>
            <Component Id="cmp167D1C5C6A974604FBBFEDD39E2FDF84" Guid="{469D7266-CE14-41B3-8F53-AF7FEC6F88A0}">
                <File Id="fil589087C30E15FFAD786A80C79F228C31" KeyPath="yes" Source="$(var.BasePath)\System.Diagnostics.Tools.dll" />
            </Component>
            <Component Id="cmpBDFBFA929E7957E9AB4B89B1C6BBCD7A" Guid="{70F5CAD7-D898-4199-843F-E536B2D7219A}">
                <File Id="fil51DF554AB19C81BD826675A139E6342C" KeyPath="yes" Source="$(var.BasePath)\System.Diagnostics.TraceSource.dll" />
            </Component>
            <Component Id="cmp804ACD73DC5E4AF51ACF260299491EAE" Guid="{2E9F9707-5BB4-4E8F-81CA-072402DB3DB9}">
                <File Id="filE457FA9EC2AE98FDC3C82D976418C363" KeyPath="yes" Source="$(var.BasePath)\System.Diagnostics.Tracing.dll" />
            </Component>
            <Component Id="cmp08477E3E9CCCB3373C6D6B557560F00D" Guid="{9A644A24-A1C1-41F4-A899-CFED40441E08}">
                <File Id="filB3F994E499D6B2658F4935DB290BBD4C" KeyPath="yes" Source="$(var.BasePath)\System.Drawing.Primitives.dll" />
            </Component>
            <Component Id="cmpA142100C3F0BB7810ABB24189CCE1D0D" Guid="{3CFC6CCE-8617-4D49-BE2C-8588145A1E5F}">
                <File Id="filC724FD793DE9BFA79CD7FB6C9ADD74B0" KeyPath="yes" Source="$(var.BasePath)\System.Dynamic.Runtime.dll" />
            </Component>
            <Component Id="cmpF2CFC77F0487C42E6C597124620175D0" Guid="{0832A02E-62DC-446F-BD10-5D6E94266919}">
                <File Id="filB1DA3C706CDD3EB9DD5FAEE10E17A1EC" KeyPath="yes" Source="$(var.BasePath)\System.Globalization.Calendars.dll" />
            </Component>
            <Component Id="cmp38992D30F99BD043E10383498A731822" Guid="{0B45DEB9-9355-48F8-9FAA-68D0AD1A38EF}">
                <File Id="fil302011DAA4997DB8B141168A984D0E89" KeyPath="yes" Source="$(var.BasePath)\System.Globalization.dll" />
            </Component>
            <Component Id="cmp2ECBD4EE80FB56B111EAB04A7922F75E" Guid="{1234F0AF-0ABF-49E8-B4E3-9B5A2E1DA4C4}">
                <File Id="filBCE4D84B0CA5B233C74110483CAD4D62" KeyPath="yes" Source="$(var.BasePath)\System.Globalization.Extensions.dll" />
            </Component>
            <Component Id="cmpC8D343DED6ECA227B78780388C7AA77C" Guid="{F8851D52-5B12-4519-9061-4AA1968CC3A5}">
                <File Id="fil8C21BB6ED9A67550B3F3EE8EF35E5A89" KeyPath="yes" Source="$(var.BasePath)\System.IO.Compression.dll" />
            </Component>
            <Component Id="cmpD40621D43FCB57C24FE91D5292CDCA60" Guid="{6DF74732-E719-46F6-A2FA-30137253A297}">
                <File Id="fil58D577100F63265F0448602DFD48190C" KeyPath="yes" Source="$(var.BasePath)\System.IO.Compression.ZipFile.dll" />
            </Component>
            <Component Id="cmp06E205989506C503C7B11F6FE4B449C6" Guid="{C5AD3633-14FA-4B0C-A4C1-F15715FC8446}">
                <File Id="fil1585A04883FF89B289FC2454E8EDC783" KeyPath="yes" Source="$(var.BasePath)\System.IO.dll" />
            </Component>
            <Component Id="cmp2BF489548413875B5E6C82837FCD954F" Guid="{9EE0B239-2B5A-4AB9-BC81-67317E2445ED}">
                <File Id="filB910A291C5575D86F028725A2C33BF2D" KeyPath="yes" Source="$(var.BasePath)\System.IO.FileSystem.dll" />
            </Component>
            <Component Id="cmp1AB9ED2F24CD7F4C14BBC93CA838C6B0" Guid="{13A205F6-5E91-4CD2-BA47-03802F91ECCD}">
                <File Id="fil574A395F5B89705022FDCE55CD01B148" KeyPath="yes" Source="$(var.BasePath)\System.IO.FileSystem.DriveInfo.dll" />
            </Component>
            <Component Id="cmpC96839737F0D0575D352C1AE13A73E26" Guid="{2A15A205-CBB3-451F-8296-FBC1DCD2E42C}">
                <File Id="fil02F9A4228ADE0C77AF34898B47FD1723" KeyPath="yes" Source="$(var.BasePath)\System.IO.FileSystem.Primitives.dll" />
            </Component>
            <Component Id="cmp43533F1C6D869598C6A682154C94696E" Guid="{F3EA7932-7511-46A7-B877-CE8725F66099}">
                <File Id="filBF4695E38CC21BF49BBCA04E77D36710" KeyPath="yes" Source="$(var.BasePath)\System.IO.FileSystem.Watcher.dll" />
            </Component>
            <Component Id="cmpBEA123016451982E36F3B409E9D6426F" Guid="{8693C9E8-BA5B-432E-A79E-62066AE2D79C}">
                <File Id="fil4018AFAC307CEA6BC7FCB7A5B8BCA075" KeyPath="yes" Source="$(var.BasePath)\System.IO.IsolatedStorage.dll" />
            </Component>
            <Component Id="cmp27E36B7C8DB5461A9579366D20E5DD16" Guid="{37110C57-9BA8-49F8-9348-8573E5F19E0E}">
                <File Id="fil7F43DE255F0B70BD8014CC9F0611E6A9" KeyPath="yes" Source="$(var.BasePath)\System.IO.MemoryMappedFiles.dll" />
            </Component>
            <Component Id="cmpB23C66A8B8F46E3F568C19DFB6A6E1A4" Guid="{A102C94E-4D80-4152-BAB4-EE095B3B24FA}">
                <File Id="fil8EAA03164AF160196E835AAF613219D0" KeyPath="yes" Source="$(var.BasePath)\System.IO.Pipes.dll" />
            </Component>
            <Component Id="cmp5338A7F671CC8A6B5D8355578A8A889A" Guid="{F7A0F432-2A4D-4357-BC78-A6F5765099BC}">
                <File Id="filA25C390E7FAA5E8406CA4A02BBBCC33A" KeyPath="yes" Source="$(var.BasePath)\System.IO.UnmanagedMemoryStream.dll" />
            </Component>
            <Component Id="cmpC0FA693A1C79F59FC93C10CFD37D42F2" Guid="{72475325-256B-48D8-94DB-83DFDE99AE7B}">
                <File Id="fil598A363D5498D9DDBAFE6880F82F75CA" KeyPath="yes" Source="$(var.BasePath)\System.Linq.dll" />
            </Component>
            <Component Id="cmpE2761380A2AA89636D5B95A135451B7F" Guid="{81BE26F9-22B0-4ACA-9C53-39459D0E5B5C}">
                <File Id="fil33155AE23C9BC1A3E340E9A8ABDE1D42" KeyPath="yes" Source="$(var.BasePath)\System.Linq.Expressions.dll" />
            </Component>
            <Component Id="cmp1C1E90C62AB1B0C4B75A0C8670A93BF5" Guid="{F02133B7-5963-4E60-8A6D-7EEA7C45C420}">
                <File Id="fil3F3DFA5907492425703385E53974B104" KeyPath="yes" Source="$(var.BasePath)\System.Linq.Parallel.dll" />
            </Component>
            <Component Id="cmpA89B897A857FCF03B6B2373DF3AC3D44" Guid="{2515F174-CC42-47D4-9835-B33ACE7E33E0}">
                <File Id="fil7169F7E92FBFDB99FD71D763F2E780C7" KeyPath="yes" Source="$(var.BasePath)\System.Linq.Queryable.dll" />
            </Component>
            <Component Id="cmpBA5ABAFBBC1B2CC2232B3287ABE89965" Guid="{15064A54-1766-4C01-8D9F-E01959F614DD}">
                <File Id="fil7D48B04FDEE4653060C375A94010A762" KeyPath="yes" Source="$(var.BasePath)\System.Net.Http.dll" />
            </Component>
            <Component Id="cmp8487DBCD10F6EA164525782F92DE4F4F" Guid="{DB8C1E2C-94E1-4F71-A1E0-463F3D5A2EF8}">
                <File Id="fil69D9F4812C174BFB653C73FDA9A444E0" KeyPath="yes" Source="$(var.BasePath)\System.Net.NameResolution.dll" />
            </Component>
            <Component Id="cmpA79F27EC312D0A6A5E914E2D5E6EAAFB" Guid="{67AA1868-899C-49BD-B506-B8E5E2EC0197}">
                <File Id="filC663E3CB9E88525B42D5B8916035A2EE" KeyPath="yes" Source="$(var.BasePath)\System.Net.NetworkInformation.dll" />
            </Component>
            <Component Id="cmp8E66472F03923A37D938729AEED0ABF6" Guid="{586576C7-F065-4C91-B948-E6C5C486BE01}">
                <File Id="fil8C39D1E2631D6844BB01F4F3D4309095" KeyPath="yes" Source="$(var.BasePath)\System.Net.Ping.dll" />
            </Component>
            <Component Id="cmp7F3C257977DAD545E41C24AEEBA5F3D7" Guid="{6507BF15-A75D-493D-A90F-3ED5375A38EE}">
                <File Id="fil9E23EE919E61291572A9E7A02358BE0B" KeyPath="yes" Source="$(var.BasePath)\System.Net.Primitives.dll" />
            </Component>
            <Component Id="cmp1F98307E0E8546CD03283A275A109E29" Guid="{C8B0129E-1BB8-4B60-90D9-8E7B1681A32F}">
                <File Id="filABF76F5E8887AC62C808D141EEE7F90D" KeyPath="yes" Source="$(var.BasePath)\System.Net.Requests.dll" />
            </Component>
            <Component Id="cmp661DE9832C6188B3A05455224EB65C4A" Guid="{5F98934F-5D8B-40CD-983A-1B924C18612E}">
                <File Id="fil1D7AB309A4579D55C17E387F8DFFAE30" KeyPath="yes" Source="$(var.BasePath)\System.Net.Security.dll" />
            </Component>
            <Component Id="cmp35FB771C91E6D09AC7AD31EA6BD82D48" Guid="{A79DD95D-D183-4B1F-83CA-394EF2B05195}">
                <File Id="fil823B0C5D79C138C9B43DE503AE851AF3" KeyPath="yes" Source="$(var.BasePath)\System.Net.Sockets.dll" />
            </Component>
            <Component Id="cmpBD3081A75FFFB18E0F831CA90BB02A51" Guid="{E66FBC28-141C-4172-8DA9-A5E7C7697FE2}">
                <File Id="fil56CADEAFFCFAFECB7B1BDB9CFD8987F1" KeyPath="yes" Source="$(var.BasePath)\System.Net.WebHeaderCollection.dll" />
            </Component>
            <Component Id="cmp68954BEF36096052C3124B7F9EF02351" Guid="{BEE14E4F-6EB3-45DD-A85A-EA568B700E0A}">
                <File Id="filBE4907C935596CA9CAA2A7AA9AB25169" KeyPath="yes" Source="$(var.BasePath)\System.Net.WebSockets.Client.dll" />
            </Component>
            <Component Id="cmpA3D72A47568CFB72A8579DA365A9694A" Guid="{D71C9E4F-4DD2-4641-B35A-E445118DEE1A}">
                <File Id="fil21106B04138595285E4063BA0375F731" KeyPath="yes" Source="$(var.BasePath)\System.Net.WebSockets.dll" />
            </Component>
            <Component Id="cmpF02258D9C1CDC79ADE6BED7D7E27B7F8" Guid="{B5B1C8F4-59F5-49A5-AEC1-35890F0C0E1F}">
                <File Id="fil9A7CC4FBC706133927299AE792CF930C" KeyPath="yes" Source="$(var.BasePath)\System.ObjectModel.dll" />
            </Component>
            <Component Id="cmpA232CC5CBB9F7FC0C83CBF6E9889AEA2" Guid="{DA697E9C-EF58-4D93-A611-FBAF87F146AA}">
                <File Id="filA974C5A92C285D01E798C45F066066E6" KeyPath="yes" Source="$(var.BasePath)\System.Reflection.dll" />
            </Component>
            <Component Id="cmpBBE9705F8359FDCA711FD64D14D92D29" Guid="{06F3C434-1C3A-48ED-AF50-71CFB0E878B3}">
                <File Id="filBF34301359DFDB004DA5653ADCF77EA8" KeyPath="yes" Source="$(var.BasePath)\System.Reflection.Extensions.dll" />
            </Component>
            <Component Id="cmp673F5FD19E1447A9E9517732D5099C50" Guid="{B62EE547-0091-40B4-9D69-1C0E8E27B60B}">
                <File Id="fil8C7FE5693A485A6EC5DB4F983E211310" KeyPath="yes" Source="$(var.BasePath)\System.Reflection.Primitives.dll" />
            </Component>
            <Component Id="cmp70FC17596CC6D6081664CEA3F1370618" Guid="{93882FD9-9720-4640-99EB-FBB2BC95FB07}">
                <File Id="filA1280936EE48F816F9935AC5D8CC2135" KeyPath="yes" Source="$(var.BasePath)\System.Resources.Reader.dll" />
            </Component>
            <Component Id="cmp0D6DF42F2B6440373438F26D08393D7E" Guid="{74B8324B-11CA-44A4-BAAC-48464BA7F5CC}">
                <File Id="fil0A8B8FDA1F690B6521438D46937A3A6B" KeyPath="yes" Source="$(var.BasePath)\System.Resources.ResourceManager.dll" />
            </Component>
            <Component Id="cmp9CA91C7958AD8878AF60199DC48CD573" Guid="{8204D7E3-3A53-4676-8297-E03032F2BE2A}">
                <File Id="fil230BE30D15C956EF11744774D5E2748A" KeyPath="yes" Source="$(var.BasePath)\System.Resources.Writer.dll" />
            </Component>
            <Component Id="cmpAFCF21A15F6EDA45A32D147050609285" Guid="{CC9C08AC-063F-4770-90AF-968B4E6BC1E7}">
                <File Id="filAE286E96EA00902BC284AEBF3030D6E4" KeyPath="yes" Source="$(var.BasePath)\System.Runtime.CompilerServices.Unsafe.dll" />
            </Component>
            <Component Id="cmpBC6ED153615307A014F39AD878C11A6F" Guid="{515F4087-7C01-4CE2-98D2-E299E8C1AB1F}">
                <File Id="fil06F091C33B00CEE32ABF1D23BFFCF153" KeyPath="yes" Source="$(var.BasePath)\System.Runtime.CompilerServices.VisualC.dll" />
            </Component>
            <Component Id="cmp5535623A0957F12A580F2E0AE9AB7F24" Guid="{2C8F1D5B-FE9F-401A-B59B-BC492C7153C3}">
                <File Id="fil1F7505072F9E81ACFDD7E6910787823E" KeyPath="yes" Source="$(var.BasePath)\System.Runtime.dll" />
            </Component>
            <Component Id="cmp1F804D02F421408F7E20267C22EA6672" Guid="{258F8B80-54D2-455D-94E1-FEEED85CDC1F}">
                <File Id="fil46F95A243148C958E6F1AB4B4F561CB1" KeyPath="yes" Source="$(var.BasePath)\System.Runtime.Extensions.dll" />
            </Component>
            <Component Id="cmpC9E0DEEB7CF98154C06B2056C911EFFB" Guid="{7187C1F9-4AFD-47BE-AF7B-202090C8DAB3}">
                <File Id="fil7F78E91219FBF02ABACD6059011A3487" KeyPath="yes" Source="$(var.BasePath)\System.Runtime.Handles.dll" />
            </Component>
            <Component Id="cmpDD067213D9C6C74C7DEE2A7AAB0FAEEC" Guid="{965971C7-8E38-488C-98CB-0735D9CA15AE}">
                <File Id="fil853E903EAF99997C9E803CAE3ACFBF5A" KeyPath="yes" Source="$(var.BasePath)\System.Runtime.InteropServices.dll" />
            </Component>
            <Component Id="cmp11FDD7837E3686618A8029176A611E38" Guid="{1FF7F6D1-0E6B-432C-B73D-0B068E0674B2}">
                <File Id="fil43FDDFACC38DCF385E1070ABFC9FF8BD" KeyPath="yes" Source="$(var.BasePath)\System.Runtime.InteropServices.RuntimeInformation.dll" />
            </Component>
            <Component Id="cmpCCD6C0BE895B4EC8ED6FCEECB4A871C3" Guid="{C58ED1FF-BB18-494F-BA30-051E800C7151}">
                <File Id="fil02EF2737879749E35F209C9B7DCA391D" KeyPath="yes" Source="$(var.BasePath)\System.Runtime.Numerics.dll" />
            </Component>
            <Component Id="cmp41A90A30E3B6DE65B53B94DD925F5178" Guid="{171B810D-0C4A-47E5-86F8-CE529EAC4E3D}">
                <File Id="filC968DB2890AADD4FA67468C2A7B10151" KeyPath="yes" Source="$(var.BasePath)\System.Runtime.Serialization.Formatters.dll" />
            </Component>
            <Component Id="cmpD90C1CD2102284F981F3D046E35CA13E" Guid="{4B8AC21C-7C57-40ED-B3AD-4E5AA6617CFE}">
                <File Id="filD0901858A2CBFDA1564A60620AE9B302" KeyPath="yes" Source="$(var.BasePath)\System.Runtime.Serialization.Json.dll" />
            </Component>
            <Component Id="cmp552DDD4A29039B8C3A99A908722A24F8" Guid="{AA03DB2D-6B2D-4A4A-A16D-FAB2AF531EA8}">
                <File Id="fil4EF07533CCADC5D11E070B55437037C4" KeyPath="yes" Source="$(var.BasePath)\System.Runtime.Serialization.Primitives.dll" />
            </Component>
            <Component Id="cmp844E0AB3F4C9BC342C04985D37DDFEB2" Guid="{D859EE5C-C5E7-4CA9-9544-78DEEF261BF8}">
                <File Id="filEA5BDF8BC27AFF8E7E096CB7FADA4669" KeyPath="yes" Source="$(var.BasePath)\System.Runtime.Serialization.Xml.dll" />
            </Component>
            <Component Id="cmp184FC0E5FAD15B9D8278A9A58F76ABE4" Guid="{E053DCBB-1289-443C-B98E-BC93D2CD462B}">
                <File Id="filF9336650B5D207916A83BC080A440D23" KeyPath="yes" Source="$(var.BasePath)\System.Security.Claims.dll" />
            </Component>
            <Component Id="cmpFF30060800C65B79967082C32327291C" Guid="{236553F5-DC25-4B54-A515-CBAD8789126E}">
                <File Id="filAB211F3F0ECB04AF6C2378C73893A0C8" KeyPath="yes" Source="$(var.BasePath)\System.Security.Cryptography.Algorithms.dll" />
            </Component>
            <Component Id="cmp77638A88DFF018673C9539C4C63849F1" Guid="{D139E5B5-E67C-41D2-A768-8CAC5F859E5C}">
                <File Id="filA76FAFC53D43269049D637292976CF51" KeyPath="yes" Source="$(var.BasePath)\System.Security.Cryptography.Csp.dll" />
            </Component>
            <Component Id="cmp29603EF04B0BDD3AB6C82CAA97838E8B" Guid="{7E5C8DF2-AC0E-4AB3-9227-F3BB683471CD}">
                <File Id="filED8707AB753EEF87C2288DCB64CF7A12" KeyPath="yes" Source="$(var.BasePath)\System.Security.Cryptography.Encoding.dll" />
            </Component>
            <Component Id="cmp0136E6693E0DF16DBA25B9082AEA0615" Guid="{7C572352-C059-4A91-8C64-D7802923FB72}">
                <File Id="fil25474CD58A18AB4C2CD00F08A6BC9775" KeyPath="yes" Source="$(var.BasePath)\System.Security.Cryptography.Primitives.dll" />
            </Component>
            <Component Id="cmp5A1F20CF9AD2DA0DF26622F317779E8C" Guid="{F542DAC7-C6C5-4092-98AB-45205705E0F5}">
                <File Id="fil442CB099348F299818A47DAF4107BAD6" KeyPath="yes" Source="$(var.BasePath)\System.Security.Cryptography.X509Certificates.dll" />
            </Component>
            <Component Id="cmp82F2DB94B35989B5500883F0A3BD8505" Guid="{329E137B-D971-424B-823D-3EC79DE8771C}">
                <File Id="filD2D8BE6ECEE6993CF4F1FF23EB2E93BB" KeyPath="yes" Source="$(var.BasePath)\System.Security.Principal.dll" />
            </Component>
            <Component Id="cmp2A096C150C80DB6CCD87D4C38C958489" Guid="{8E74C39A-8276-454D-88B0-5D037B1894F0}">
                <File Id="filFB2A4DE274D08F22C08A1322C26E75AC" KeyPath="yes" Source="$(var.BasePath)\System.Security.SecureString.dll" />
            </Component>
            <Component Id="cmp06F6E0D21752727B7ACAD0B512A6023D" Guid="{F3871A73-1B13-40D2-8FC5-7480655E81CE}">
                <File Id="fil701E2765A9E92F8724B2DE3CCDB46360" KeyPath="yes" Source="$(var.BasePath)\System.Text.Encoding.dll" />
            </Component>
            <Component Id="cmp3874A45D344B330AFBCC3A8F554FA9E4" Guid="{9C568E6B-BEC5-400D-B3B4-CBAF495894B8}">
                <File Id="filCE8884160ED3E0EC381AFA6BE7E9D787" KeyPath="yes" Source="$(var.BasePath)\System.Text.Encoding.Extensions.dll" />
            </Component>
            <Component Id="cmp0B61CF5FB51B4607DDD38343361694DD" Guid="{44970A32-F740-42A0-807D-90637CC6C137}">
                <File Id="filDF47AF6394D3BCA07F18B1B1DED956F6" KeyPath="yes" Source="$(var.BasePath)\System.Text.RegularExpressions.dll" />
            </Component>
            <Component Id="cmpC0197A786E74E0C6CC67B1F2BF47A69D" Guid="{8283CD3A-1CFF-4D68-B0C9-FFC378587BDA}">
                <File Id="fil36048FD39C076898D35F88983802BDEF" KeyPath="yes" Source="$(var.BasePath)\System.Threading.dll" />
            </Component>
            <Component Id="cmp1847EF90CD4FF710D3FD7F535A04B4FF" Guid="{3118F300-6807-4369-8CA4-86BC41CB24D3}">
                <File Id="filE727C34A4C970EEE21C677C885EC28B8" KeyPath="yes" Source="$(var.BasePath)\System.Threading.Overlapped.dll" />
            </Component>
            <Component Id="cmp174FEA916F072AFEF2DC68827B08C208" Guid="{771FB6C0-3CB9-4191-9979-2329971BB056}">
                <File Id="fil7F3C8D53605A91C20728F321E6100DC4" KeyPath="yes" Source="$(var.BasePath)\System.Threading.Tasks.dll" />
            </Component>
            <Component Id="cmp9CBB1F7669BA2F45772EFFAF1C3C270D" Guid="{45CD9876-DC8B-4DB3-849B-CC9C03FB9E82}">
                <File Id="filFDA046DB7FA1CA15A62337B4F259E5FF" KeyPath="yes" Source="$(var.BasePath)\System.Threading.Tasks.Parallel.dll" />
            </Component>
            <Component Id="cmpFB7FE4390A8C062AD58E42F7C37E1CBA" Guid="{1E0AFCFD-FBEA-4DEA-AF46-7BDCF1E81F6E}">
                <File Id="filC3127284977EB9FDD14629243C84A2EE" KeyPath="yes" Source="$(var.BasePath)\System.Threading.Thread.dll" />
            </Component>
            <Component Id="cmp152A2FECC9863B1FFDB0C5513DC288DD" Guid="{76348E4E-4DE5-4A5B-A19A-C66EC3215D8C}">
                <File Id="fil809F8EEF88425034C1A71DE3AD93D6A4" KeyPath="yes" Source="$(var.BasePath)\System.Threading.ThreadPool.dll" />
            </Component>
            <Component Id="cmp6677FF43E08DCC24B1D67EBAA25DABE0" Guid="{3EBE05DE-9FC0-4C24-B3D4-8CA779EA0ABF}">
                <File Id="fil4E367B544B133435C24048994E32C006" KeyPath="yes" Source="$(var.BasePath)\System.Threading.Timer.dll" />
            </Component>
            <Component Id="cmp3A99A623A71A716A198559E0C9D59400" Guid="{0A49AA4C-5144-4DC5-A46D-9BAC2D8070AE}">
                <File Id="filE6242AE03AF2509440ADF395C76688A4" KeyPath="yes" Source="$(var.BasePath)\System.ValueTuple.dll" />
            </Component>
            <Component Id="cmpD98009700F9DCCB585336348A2CEBE64" Guid="{D303BC27-2676-439D-B782-BB16C5800940}">
                <File Id="fil59BFCC2292F134CBDC4AA4926AAAB976" KeyPath="yes" Source="$(var.BasePath)\System.Xml.ReaderWriter.dll" />
            </Component>
            <Component Id="cmp93CA91D57F6251A2235F591E2C255B14" Guid="{66CB54ED-341F-4F69-8D79-01C9DA4B4C8C}">
                <File Id="filB8061B25037EA2CD370763F882C39C0A" KeyPath="yes" Source="$(var.BasePath)\System.Xml.XDocument.dll" />
            </Component>
            <Component Id="cmp381A6662B7BE775E2AD4E35F205D99D1" Guid="{849C823A-5221-41B9-AFDB-CB6255EFEADB}">
                <File Id="filFFB639F3D3E0F93F264FDFE3E81A5A62" KeyPath="yes" Source="$(var.BasePath)\System.Xml.XmlDocument.dll" />
            </Component>
            <Component Id="cmp57336CA638C7E423596479419F1908F1" Guid="{1EA67AC2-3864-4CD1-9FFF-28ED08C8D7E6}">
                <File Id="filE7B8C062C7AE0B6604F0B9B573658E56" KeyPath="yes" Source="$(var.BasePath)\System.Xml.XmlSerializer.dll" />
            </Component>
            <Component Id="cmp8B647EE9E403FBA68E5A3BA65BF324DF" Guid="{4F034744-0EE7-4CB2-98D8-551771AC2DB2}">
                <File Id="fil3D1A64312153AD0A9A7D324647F1DEFA" KeyPath="yes" Source="$(var.BasePath)\System.Xml.XPath.dll" />
            </Component>
            <Component Id="cmp74AD17100EF04DA9E0B6DB1AFA6D8D5C" Guid="{28753821-EAAE-4634-A5D4-1196C329A751}">
                <File Id="filB19DBCF818AC2F26DEA82AF27E664FD3" KeyPath="yes" Source="$(var.BasePath)\System.Xml.XPath.XDocument.dll" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="PublishedComponents">
            <ComponentRef Id="cmpF82FCA80BBAF44D285C97F10993DEEE6" />
            <ComponentRef Id="cmp89CC938684E52AF53D9AE8406B829BE0" />
            <ComponentRef Id="cmpFB34A1341422A784C39D30B8DBC119DC" />
            <ComponentRef Id="cmpE7A5052687EDB6EAC55CC9AFD789B705" />
            <ComponentRef Id="cmpA446AF8E47E174A459DCB8F054E69924" />
            <ComponentRef Id="cmpDC19BA21EFF423B27F8787A2AB8F2B3C" />
            <ComponentRef Id="cmpC2B3CC4C105FBF588A9EBBD45742C349" />
            <ComponentRef Id="cmp0F72FDFC2B5DABBEED0952957424C516" />
            <ComponentRef Id="cmp191446DEBB621CC91C2B2E713F085F01" />
            <ComponentRef Id="cmp0209E8308C907CAD5474151F7C6836F5" />
            <ComponentRef Id="cmp6361EE614B62630DD923390326EAF03C" />
            <ComponentRef Id="cmp1E5A63B6F657DD090469973A1C3D2C59" />
            <ComponentRef Id="cmp946145B53A7DCDFA822B0EFD2314FAB6" />
            <ComponentRef Id="cmp8D70D98B32C8F908DD58C5F06708F289" />
            <ComponentRef Id="cmp1DFBDA5C3F28C07C3DEBDDBAE7F78802" />
            <ComponentRef Id="cmp2BD2CA101B27AF1371B06F4F15D95F9B" />
            <ComponentRef Id="cmpC089979D7EDD0520871FCF59E4512F6A" />
            <ComponentRef Id="cmp67E65E2B67A367FACFDC13B3845494ED" />
            <ComponentRef Id="cmp2D22C362F8F0B3B68D8A335DB9874738" />
            <ComponentRef Id="cmpBC4FC00A26E7D32479D42D3411317FC5" />
            <ComponentRef Id="cmpFB3187AEB0ABE44A5275235FC44713AF" />
            <ComponentRef Id="cmpC7B18FE4579BA5B84EA0DA057622D478" />
            <ComponentRef Id="cmp8F0ABC6A41DD89D6ABA50495ACCF772B" />
            <ComponentRef Id="cmp5BF82A49794EF8CA80B3603A0E77FC35" />
            <ComponentRef Id="cmp602E8F2B93FE6578A846F762EC68A1D9" />
            <ComponentRef Id="cmp3DA1940FB9C385E5772FD6B27D952566" />
            <ComponentRef Id="cmp1340CAF41213E899D78462CF580BF2AD" />
            <ComponentRef Id="cmp4CA8A8377EC5F30AF1C8BF2ABE2B916B" />
            <ComponentRef Id="cmp912EE5CA7F0C138422055A3D0C240C38" />
            <ComponentRef Id="cmp9DD02050EE6C7C34C1B0689DE491114C" />
            <ComponentRef Id="cmp0E07B6458918A72AFC17E557DDF86BE9" />
            <ComponentRef Id="cmp9CD588F7BA24625E3D5679886E12AD98" />
            <ComponentRef Id="cmp1A01EFD00F1DAF10CE06F8196357F24C" />
            <ComponentRef Id="cmp5C82A05FA23F935F2AF47CD1A8E11EF5" />
            <ComponentRef Id="cmp18D7BFB3BE8790A76D7469ACDB6FF184" />
            <ComponentRef Id="cmp16EF400B22B4D8375CD56E7168F49BBB" />
            <ComponentRef Id="cmp7E39F1A13DA5F3678F3102B85106204A" />
            <ComponentRef Id="cmpD23621427F9427EADECDFB75824E8F4E" />
            <ComponentRef Id="cmpB3E27F13800A8FF984F132723F98897C" />
            <ComponentRef Id="cmp36E12B3A84F72D19A05AB3898848297D" />
            <ComponentRef Id="cmp167D1C5C6A974604FBBFEDD39E2FDF84" />
            <ComponentRef Id="cmpBDFBFA929E7957E9AB4B89B1C6BBCD7A" />
            <ComponentRef Id="cmp804ACD73DC5E4AF51ACF260299491EAE" />
            <ComponentRef Id="cmp08477E3E9CCCB3373C6D6B557560F00D" />
            <ComponentRef Id="cmpA142100C3F0BB7810ABB24189CCE1D0D" />
            <ComponentRef Id="cmpF2CFC77F0487C42E6C597124620175D0" />
            <ComponentRef Id="cmp38992D30F99BD043E10383498A731822" />
            <ComponentRef Id="cmp2ECBD4EE80FB56B111EAB04A7922F75E" />
            <ComponentRef Id="cmpC8D343DED6ECA227B78780388C7AA77C" />
            <ComponentRef Id="cmpD40621D43FCB57C24FE91D5292CDCA60" />
            <ComponentRef Id="cmp06E205989506C503C7B11F6FE4B449C6" />
            <ComponentRef Id="cmp2BF489548413875B5E6C82837FCD954F" />
            <ComponentRef Id="cmp1AB9ED2F24CD7F4C14BBC93CA838C6B0" />
            <ComponentRef Id="cmpC96839737F0D0575D352C1AE13A73E26" />
            <ComponentRef Id="cmp43533F1C6D869598C6A682154C94696E" />
            <ComponentRef Id="cmpBEA123016451982E36F3B409E9D6426F" />
            <ComponentRef Id="cmp27E36B7C8DB5461A9579366D20E5DD16" />
            <ComponentRef Id="cmpB23C66A8B8F46E3F568C19DFB6A6E1A4" />
            <ComponentRef Id="cmp5338A7F671CC8A6B5D8355578A8A889A" />
            <ComponentRef Id="cmpC0FA693A1C79F59FC93C10CFD37D42F2" />
            <ComponentRef Id="cmpE2761380A2AA89636D5B95A135451B7F" />
            <ComponentRef Id="cmp1C1E90C62AB1B0C4B75A0C8670A93BF5" />
            <ComponentRef Id="cmpA89B897A857FCF03B6B2373DF3AC3D44" />
            <ComponentRef Id="cmpBA5ABAFBBC1B2CC2232B3287ABE89965" />
            <ComponentRef Id="cmp8487DBCD10F6EA164525782F92DE4F4F" />
            <ComponentRef Id="cmpA79F27EC312D0A6A5E914E2D5E6EAAFB" />
            <ComponentRef Id="cmp8E66472F03923A37D938729AEED0ABF6" />
            <ComponentRef Id="cmp7F3C257977DAD545E41C24AEEBA5F3D7" />
            <ComponentRef Id="cmp1F98307E0E8546CD03283A275A109E29" />
            <ComponentRef Id="cmp661DE9832C6188B3A05455224EB65C4A" />
            <ComponentRef Id="cmp35FB771C91E6D09AC7AD31EA6BD82D48" />
            <ComponentRef Id="cmpBD3081A75FFFB18E0F831CA90BB02A51" />
            <ComponentRef Id="cmp68954BEF36096052C3124B7F9EF02351" />
            <ComponentRef Id="cmpA3D72A47568CFB72A8579DA365A9694A" />
            <ComponentRef Id="cmpF02258D9C1CDC79ADE6BED7D7E27B7F8" />
            <ComponentRef Id="cmpA232CC5CBB9F7FC0C83CBF6E9889AEA2" />
            <ComponentRef Id="cmpBBE9705F8359FDCA711FD64D14D92D29" />
            <ComponentRef Id="cmp673F5FD19E1447A9E9517732D5099C50" />
            <ComponentRef Id="cmp70FC17596CC6D6081664CEA3F1370618" />
            <ComponentRef Id="cmp0D6DF42F2B6440373438F26D08393D7E" />
            <ComponentRef Id="cmp9CA91C7958AD8878AF60199DC48CD573" />
            <ComponentRef Id="cmpAFCF21A15F6EDA45A32D147050609285" />
            <ComponentRef Id="cmpBC6ED153615307A014F39AD878C11A6F" />
            <ComponentRef Id="cmp5535623A0957F12A580F2E0AE9AB7F24" />
            <ComponentRef Id="cmp1F804D02F421408F7E20267C22EA6672" />
            <ComponentRef Id="cmpC9E0DEEB7CF98154C06B2056C911EFFB" />
            <ComponentRef Id="cmpDD067213D9C6C74C7DEE2A7AAB0FAEEC" />
            <ComponentRef Id="cmp11FDD7837E3686618A8029176A611E38" />
            <ComponentRef Id="cmpCCD6C0BE895B4EC8ED6FCEECB4A871C3" />
            <ComponentRef Id="cmp41A90A30E3B6DE65B53B94DD925F5178" />
            <ComponentRef Id="cmpD90C1CD2102284F981F3D046E35CA13E" />
            <ComponentRef Id="cmp552DDD4A29039B8C3A99A908722A24F8" />
            <ComponentRef Id="cmp844E0AB3F4C9BC342C04985D37DDFEB2" />
            <ComponentRef Id="cmp184FC0E5FAD15B9D8278A9A58F76ABE4" />
            <ComponentRef Id="cmpFF30060800C65B79967082C32327291C" />
            <ComponentRef Id="cmp77638A88DFF018673C9539C4C63849F1" />
            <ComponentRef Id="cmp29603EF04B0BDD3AB6C82CAA97838E8B" />
            <ComponentRef Id="cmp0136E6693E0DF16DBA25B9082AEA0615" />
            <ComponentRef Id="cmp5A1F20CF9AD2DA0DF26622F317779E8C" />
            <ComponentRef Id="cmp82F2DB94B35989B5500883F0A3BD8505" />
            <ComponentRef Id="cmp2A096C150C80DB6CCD87D4C38C958489" />
            <ComponentRef Id="cmp06F6E0D21752727B7ACAD0B512A6023D" />
            <ComponentRef Id="cmp3874A45D344B330AFBCC3A8F554FA9E4" />
            <ComponentRef Id="cmp0B61CF5FB51B4607DDD38343361694DD" />
            <ComponentRef Id="cmpC0197A786E74E0C6CC67B1F2BF47A69D" />
            <ComponentRef Id="cmp1847EF90CD4FF710D3FD7F535A04B4FF" />
            <ComponentRef Id="cmp174FEA916F072AFEF2DC68827B08C208" />
            <ComponentRef Id="cmp9CBB1F7669BA2F45772EFFAF1C3C270D" />
            <ComponentRef Id="cmpFB7FE4390A8C062AD58E42F7C37E1CBA" />
            <ComponentRef Id="cmp152A2FECC9863B1FFDB0C5513DC288DD" />
            <ComponentRef Id="cmp6677FF43E08DCC24B1D67EBAA25DABE0" />
            <ComponentRef Id="cmp3A99A623A71A716A198559E0C9D59400" />
            <ComponentRef Id="cmpD98009700F9DCCB585336348A2CEBE64" />
            <ComponentRef Id="cmp93CA91D57F6251A2235F591E2C255B14" />
            <ComponentRef Id="cmp381A6662B7BE775E2AD4E35F205D99D1" />
            <ComponentRef Id="cmp57336CA638C7E423596479419F1908F1" />
            <ComponentRef Id="cmp8B647EE9E403FBA68E5A3BA65BF324DF" />
            <ComponentRef Id="cmp74AD17100EF04DA9E0B6DB1AFA6D8D5C" />
        </ComponentGroup>
    </Fragment>
</Wix>